@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* width: 100dvw; */
  overflow-x: hidden;
  background-color: #C9DABF	;
  font-family: "General Sans", sans-serif;
}

::-webkit-scrollbar{
  width: 9px;
}
::-webkit-scrollbar-track{
  background-color: #dfdff0;
}
::-webkit-scrollbar-thumb{
  background-color: #808080;
  border-radius: 10px;
}

@layer utilities {
   .bg-hero {
   @apply bg-[url('./assets/recipe-bg.png')] bg-cover bg-center 
  
  }
  .flex-hero{
    @apply flex justify-center items-center
  }
  .featured-card {
    @apply bg-white border-[5px] border-black py-6 px-5 rounded-[22px] hover:border-[#e0e0e0]   transition-all duration-500 ;
  }

} 